<div id="modal" class="hide">
    <div class="content">
        <h1>Nova coquinha</h1>

        <form action="/" method="POST" onsubmit=" return checkFields(event)">
        
            <div class="input-wrapper">
                <label for="title">titulo da coquinha</label>
                <input type="text" name="title">
            </div>
        
            <div class="input-wrapper">
                <label for="category">categoria</label>
                <input type="text" name="category">
            </div>

            <div class="input-wrapper">
                <label for="image">link da imagem</label>
                <input type="url" name="image">
            </div>

            <div class="input-wrapper">
                <label for="description">Digite uma descrição para a coquinha</label>
                <textarea name="description" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
                <label for="link">link da coquinha</label>
                <input type="url" name="link">
            </div>
            
            <a href="#" onclick="onOff()">Voltar</a>
            <button>Salvar</button>
        
        </form>

    </div>
</div>